<!--<app-header></app-header>-->
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-md-12">-->
<!--      <router-outlet></router-outlet>-->
<!--      &lt;!&ndash;      <app-klienti *ngIf="navigacia === 'klienti'"></app-klienti>&ndash;&gt;-->
<!--      &lt;!&ndash;      <app-projekty *ngIf="navigacia === 'projekty'"></app-projekty>&ndash;&gt;-->
<!--      &lt;!&ndash;      <app-nakupny-zoznam *ngIf="navigacia === 'nakupnyzoznam'"></app-nakupny-zoznam>&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<router-outlet></router-outlet>
