<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="pridat(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="nazov">Nazov</label>
          <input type="text" id="nazov" class="form-control" ngModel name="nazov" required>
        </div>
        <div class="col-sm-2 form-group">
          <label for="pocet">Pocet</label>
          <input type="number" id="pocet" class="form-control"
                 ngModel
                 name="pocet"
                 required
                 pattern="^[1-9]+[0-9]*$"
          >
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success"
                  type="submit"
                  [disabled]="!f.valid">{{ editMode ? 'Upravit' : 'Pridat polozku' }}</button>
          <button class="btn btn-danger"
                  type="button"
                  (click)="odstranitPolozku()" *ngIf="editMode">Odstranit polozku</button>
          <button class="btn btn-primary"
                  type="button" (click)="vymazatPolia()">Vymazat polia</button>
        </div>
      </div>
    </form>
  </div>
</div>
